/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 Mar 2023, 1:16:07 pm
    Author     : ASUS
*/
.home-nav{
    width: 100%;
}

.nav{
    width: 70%;
}

.search{
    width: 30%;
    text-align: right;
}

input[type=text], select {
  padding: 6px 20px;
  margin: 10px 0px 0px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

