.profile-body, .delivery-body{
    height: 500px;
    padding-left: 25%;
    color: #29292e;
}
body{
    background-color: black;
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }

.profile-body{
    padding-top: 3%;
}

.bg-secondary-soft {
    background-color: #F7F7F7;
}

#emaillbl{
    padding-top: 10px;
}

#custidlbl, #phonelbl, #usernamelbl, #emaillbl, #add1, #add2, #postcode, #city, #state{
    padding-left: 10px;
    color: #29292e;
}

#custID:hover{
    cursor: not-allowed;
}

#editbtn, #editDelivery{
    text-align: center;
    padding-top: 7%;
}

